# SBT
target/
project/target/
project/project/

# Scala
*.class
*.log

# Spark
checkpoint/
spark-warehouse/
derby.log
metastore_db/

# Logs
logs/
*.log

# Data (optionnel, selon taille)
# data/*.csv

# IDE
.idea/
.vscode/
*.iml
.bsp/

# OS
.DS_Store
Thumbs.db

# Temporary
tmp/
temp/.env
